target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/timing.properties
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
*.class
*.log
*.tmp
*.bak
*.swp
*.iml
*.ipr
*.iws
.DS_Store
Thumbs.db
.idea/
*.iml
out/
.project
.classpath
.settings/
bin/
.vscode/
/build/
/dist/
/tmp/
/logs/
Dockerfile
docker-compose.yml
/node_modules/
/.angular/
/e2e/
/docs/
.tool-versions
.editorconfig
*.zip
*.md
npm-debug.log
